{{ rails_environment }}:
  adapter: postgresql
  encoding: unicode
  host: '{{ database_host }}'
  pool: '{{ database_pool }}'
  database: '{{ database_name }}'
  username: '{{ database_user }}'
  password: '{{ database_pass }}'
