{{ rails_environment }}:
  admin_name: '{{ admin_name }}'
  admin_email: '{{ admin_email }}'
  admin_password: '{{ admin_password }}'
  secret_key_base: '{{ secret_key_base }}'
  devise_secret_key: '{{ devise_secret_key }}'
  devise_mailer_sender: '{{ devise_mailer_sender }}'
  domain_name: '{{ hostname }}'
  mailer_default_from: {{ mailer_default_from }}
  smtp_address: {{ smtp_address }}
  smtp_port: {{ smtp_port }}
  smtp_domain: {{ smtp_domain }}
  smtp_authentication: {{ smtp_authentication }}
  smtp_enable_starttls_auto: {{ smtp_enable_starttls_auto }}
  smtp_user_name: {{ smtp_user_name }}
  smtp_password: {{ smtp_password }}
  smtp_openssl_verify_mode: {{ smtp_openssl_verify_mode }}
